.statistics {
  width: 268px;
  height: auto;
  background-color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 28px;
}

.statList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 60px;
}

.label {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}

.percentage {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
}
